<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >
	<bean id="sosInboundTransportServiceBean" class="org.n52.sensorweb.sos.transport.SOSInboundTransportService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext"/>
	</bean>
	<service id="sosInboundTransportService" ref="sosInboundTransportServiceBean" interface="com.esri.ges.transport.TransportService"/>
</blueprint>