<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
	<bean id="sosInboundAdapterServiceBean" class="org.n52.sensorweb.sos.adapter.SOSInboundAdapterService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext"/>
	</bean>
	<service id="sosInboundAdapterService" ref="sosInboundAdapterServiceBean" interface="com.esri.ges.adapter.AdapterService"/>
</blueprint>